* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background-color: #0D080B;
    block-size: 100dvh;
}

.github-corner {
    fill: #fff;
    color: #0D080B;
}

.github-corner:hover .octocat .arm {
    animation: wave 560ms ease-in-out;
}


@keyframes wave {

    0%,
    100% {
        rotate: 0;
    }

    20%,
    60% {
        rotate: -25deg;
    }

    40%,
    80% {
        rotate: 10deg;
    }
}